@if (this.contentService.currentWork()) {
<div class="content">
    <h1>{{this.contentService.currentWork().nav}}</h1>
    @switch (this.contentService.currentWork().nav) {
        @case ('About Me') {
            <app-about />
        }
        @case ('Resume') {
            <app-resume />
        }
        @default {
            @if (this.contentService.currentWork().image) {
                <picture>
                    @for (source of images().source; track source.type) {
                        <source
                            [srcset]="source.srcset"
                            [type]="source.type">
                    }
                    <img
                        [src]="images().src"
                        [width]="images().width"
                        [height]="images().height"
                        [alt]="images().alt"/>
                </picture>
            }
        }
      }   
    <p>{{this.contentService.currentWork().copy}}</p>
    @if (this.contentService.currentWork().cta) {
        <p><a [href]="this.contentService.currentWork().cta?.link" target="_blank">{{this.contentService.currentWork().cta?.copy}}</a></p>
    }
</div>
}