:host {
  display: grid;
  grid-template-columns: 20ch auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar main"
    "footer main";
}
main {
  grid-area: main;
}

main section {
  scroll-snap-align: start;
}
section {
  height: calc(100vh - var(--navheight));
  padding-top:var(--navheight);
}

section div {
  padding:1rem;
  margin-inline: auto;
  height: calc(100vh - var(--navheight) - 1rem - 1rem);
}
main section:nth-child(even) {
  background-color: var(--primary-90);
}
main section:nth-child(odd) {
  background-color: var(--primary-80);
}
.sideNav {
  position:fixed;
}
.sideNav a {
  display: block;
  border-left:5px solid var(--copy);
  padding:5px 5px 5px 10px;
  color:var(--copy);
}
.sideNav a.active {
  border-left-width:10px;
}
aside {
  grid-area: sidebar;
}
mec-theme {
  grid-area: footer;

  position: sticky;
  bottom:0;
  background-color: var(--bg);
}
@media screen and (max-width:30em) {
  :host{
    grid-template-areas:
      "sidebar main"
      "footer footer";
    grid-template-columns: 30px 1fr;
  }
  .sideNav a {
    border-left-width:10px;
    margin-bottom: 10px;
    height: 10px;
    padding:0px 0px 0px 10px;
  }
  .sideNav a.active {
    border-left-width:20px;
  }
  .sideNav span{
    visibility: hidden;
  }
}

.pageContent {
  display:flex;
  flex-flow: column nowrap;
}

@supports (position-anchor: --any-name) {
  .sideNav a{
      border-color:transparent!important;
  }
  .sideNav a.active {
    anchor-name: --active-top;
    border-left-width: 5px;
  }
  .sideNav::before,
  .sideNav::after{
    content:"";
    background-color:var(--copy);
    position: absolute;
    position-anchor: --active-top;
    bottom: anchor(bottom);
  }
  .sideNav::before{
    width:5px;
    top: 0;
    bottom: anchor(top);
    transition: bottom .25s
  }
  .sideNav::after{
    width:10px;
    position: absolute; /* 2. Position the element (absolute or fixed) */
    position-anchor: --active-top; /* 3. Link to the anchor */
    left: anchor(left);
    top: anchor(top);
    bottom: anchor(bottom);
    transition: top .25s, bottom .25s
  }
}
