:host {
    display: grid;
    grid-template-columns: 20ch auto;
}

html {
    --navheight:50px
}
body, html {
scroll-snap-type: proximity;
scroll-snap-type: y mandatory;
}

header {
position:sticky;
top:0;
height:var(--navheight);
background-color: white;
}

main section {
  scroll-snap-align: start;
}
section {
  height: calc(100vh - var(--navheight));
  padding-top:var(--navheight);
}

section div {
  padding:1rem;
  margin-inline: auto;
  height: calc(100vh - var(--navheight) - 1rem - 1rem);
}
main section:nth-child(even) {
  background-color: light-dark(#DDD, #333)
}
main section:nth-child(odd) {
  background-color: light-dark(#BBB, #444);
}
.sideNav {
  position:fixed;
}
.sideNav a {
  display: block;
  border-left:5px solid black;
  padding:5px 5px 5px 10px;
  color:var(--copy);
}
.sideNav a.active {
  border-left-width:10px;
}
@media screen and (max-width:30em) {
  :host{
    grid-template-columns: 1fr;
  }
  .sideNav a {
    border-left-width:10px;
    margin-bottom: 10px;
    height: 10px;
    padding:0px 0px 0px 10px;
  }
  .sideNav a.active {
    border-left-width:20px;
  }
  .sideNav span{
    visibility: hidden;
  }
}

img {
  height:auto;
  max-width: 100%;

  
  min-width: 0;
  flex-shrink: 1;
  min-height: 0;
}


.example-links a {
  color:var(--copy);
  font-weight: bold;
}

.example-links li+li {
  margin-top: .75rem;
}

.pageContent {
  display:flex;
  flex-flow: column nowrap;
}
