.color-picker {
    position:fixed;
    bottom:0;
    left:0;
}
.color-picker fieldset {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    width: 20CH;
    box-sizing: border-box;
    background-color: var(--menu);
    margin: 0;
    border: none;
}
