.color-picker {
    /*
    background-color: var(--primary-100);
    */
    display:grid;
    grid-template-columns:auto 1fr;
    gap:.5rem;
    padding: .25rem;
}
.color-picker fieldset {
    display:contents;
    padding: .25rem;
    width: 20CH;
    box-sizing: border-box;
    margin: 0;
    border: none;
}
input,
select{
  width: 100%;
  min-width:0;
}

label[for='theme'],
#theme{
  display: var(--selector);
}

@media screen and (max-width:30em) {
  .color-picker {
    grid-template-columns:1fr 1fr;
    width:auto;
  }
  .color-picker fieldset {
    display:grid;
    grid-template-columns:auto 1fr;
    width:100%;
    gap: .25rem;
  }
}
