
body, html{
	margin:0;
	padding:0;
	font-family:sans-serif;
    background-color: var(--bg);
}
#container{
/*	max-width:1200px;*/
/*	border:1px solid black;*/
	margin:auto;
    max-width:60em;
}
a{
    text-decoration:none;
}
a:active{
    border-color:transparent;
}
a:link, a:hover, a:active, a:visited{
    color:var(--copy);
}
nav span{
    display:inline-block;
}
nav a{
    display:block;
}
nav, nav a{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.topNav{
    display: flex;
}
.topNav, #logo{
    height:50px;
    font-size:1.2em;
}
#logo{
    width: auto;
} 
.topNav a{
    background-repeat:no-repeat;
    background-position:left;
    white-space: nowrap;
    height:50px;
    line-height:50px;
    flex-grow: 1;
    padding: 0 1em;
}
.topNav span{
    margin-left:calc(50px - 1em);
}
.topNav a{
    background-image:url('https://www.markecurtis.com/images/icons-new.svg');
}
@media (prefers-color-scheme: dark) {
    .topNav a{
        background-image:url('https://www.markecurtis.com/images/icons-white.svg');
    }
}
#about{
    background-position:0% 0;
    
    background-position:0 0;
}
#past{
    background-position:0% 33.3%;
    
    background-position:0 -50px;
}
#ug{
    background-position:0% 66.6%;
    
    background-position:0 -100px;
}
#pwa{
    background-position:0% 100%;
    
    background-position:0 -150px;
}


@media only screen and (min-width: 37.5em) and (max-width: 43.75em) {
    .topNav a, .svg .topNav a{
        background:none;
    }
    .topNav span{
        margin-left:0;
    }	
}
    
    
    
.topNav .prevActive{
    border-bottom:5px solid var(--copy);
}
.topNav .active{
    border-bottom:10px solid var(--copy);
    
}

@media only screen and (max-width:37.5em){
    .topNav span{
        display: none;
    }
    
}