body, html{
    --navheight:50px;
	margin:0;
	padding:0;
    background-color: var(--bg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    position:sticky;
    top:0;
    height:var(--navheight);
    background-color: white;
}
#container{
/*	max-width:1200px;*/
/*	border:1px solid black;*/
	margin:auto;
    /* max-width:60em; */
}
a{
    text-decoration:none;
}
a:active{
    border-color:transparent;
}
a:link, a:hover, a:active, a:visited{
    color:var(--copy);
}
nav span{
    display:inline-block;
}
nav a{
    display:block;
}
nav, nav a{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.topNav{
    display: flex;
}
.topNav, #logo{
    height:50px;
    font-size:1.2em;
    background-color: var(--bg);
}
#logo{
    width: auto;
}
.topNav a:not(:nth-child(1)){
    white-space: nowrap;
    height:50px;
    line-height:50px;
    flex-grow: 1;
}
.topNav span{
    margin-left:calc(50px - 1em);
}

.topNav a {
  display: flex;
}
@media only screen and (min-width: 47.5em) and (max-width: 69em) {
  .topNav mec-icon {
    display:none;
  }
}


.topNav a:has(~ .active){
    border-bottom:5px solid var(--copy);
}
.topNav .active{
    border-bottom:10px solid var(--copy);

}

@media only screen and (max-width:47.5em){
  .topNav span{
    display: none;
  }
  .topNav a {
    justify-content: center;
  }
}


@supports (position-anchor: --any-name) {
  .topNav a{
      border-color:transparent!important;
  }
  .topNav a.active {
    anchor-name: --active-top;
  }
  .topNav::before,
  .topNav::after{
    content:"";
    background-color:var(--copy);
    position: absolute;
    position-anchor: --active-top;
    bottom: anchor(bottom);
  }
  .topNav::before{
    height:5px;
    left: 0;
    right: anchor(left);
    transition: right .25s
  }
  .topNav::after{
      height:10px;
      position: absolute; /* 2. Position the element (absolute or fixed) */
      position-anchor: --active-top; /* 3. Link to the anchor */
      bottom: anchor(bottom);
      left: anchor(left);
      right: anchor(right);
      transition: left .25s, right .25s
  }
}
