:host{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    --_cellsize:5px;
}
.m,
.c {
    display: inline-grid;
    grid-template-columns: repeat(10, var(--_cellsize));
    grid-template-rows: repeat(10, var(--_cellsize));
    background-color: var(--primary-20);
}
.xs{
    background-color: var(--primary-100);
}
.sm{
    background-color: var(--primary-80);
}
.md{
    background-color: var(--primary-60);
}
.lg{
  background-color: var(--primary-40);
}
.xl{
  background-color: var(--primary-20);
}

.m .xs{
    grid-column: 5 / 7;
    grid-row: 9 / 11;
}
.m .sm{
    grid-column: 4 / 8;
    grid-row: 7 / 11;
}
.m .md{
    grid-column: 3 / 9;
    grid-row: 5 / 11;
}
.m .lg{
    grid-column: 2 / 10;
    grid-row: 3 / 11;
}
.m .xl{
    grid-column: 5 / 7;
    grid-row: 1 / 11;
}

.c .xs{
    grid-column: 9 / 11;
    grid-row: 5 / 7;
}
.c .sm{
    grid-column: 7 / 11;
    grid-row: 4 / 8;
}
.c .md{
    grid-column: 5 / 11;
    grid-row: 3 / 9;
}
.c .lg{
    grid-column: 3 / 11;
    grid-row: 2 / 10;
}
