@charset "utf-8";
/* CSS Document */

#resume h1, #resume h2{
	border-bottom:1px solid var(--copy);
	text-transform:uppercase;
	clear:left;
}
#resume h1{
	font-size:2em;
	margin-bottom:.25em;
}
#resume h2{
	font-size:1em;
}
#resume header p{
	margin:0 inherit .25em inherit;
	text-transform:uppercase;
}
dt{
	font-style:italic;
	clear:left;
	height:1.2em;
}
dt, dd{
	font-weight:bold;
	margin:0;
	padding:0;
	width:50%;
	float:left;
}
dt, dd, .skillList{
	font-size:.8em;
}
dd li{
	font-weight:normal;
}
ul, li{
	margin:0;
	padding:0; /* need to change margin/padding for dots */
}
dd.workList{
	width:100%;
	float:none;
	clear:both;
}
ul {

	margin-bottom:1em;
	padding-left:5%;
}
#resume p,
#resume li{
    font-size:1rem;
    font-family:sans-serif;
}
#resume li{
    margin-bottom:.25rem
}
#resume dt,
#resume dd{
    font-size:1.25rem;
}
#resume .worklist{
   
}
#resume h2{
    font-size:1.5rem;
}
#resume h3{
    font-style: italic;
}
#resume .workSummary{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#resume .workSummary p{
	font-weight:bold;
	font-family: serif;
}

#resume .workSummary p,
#resume .workSummary h3{
    margin:0;
}
#resume .workSummary h3+p,
#resume .workSummary p+p+p{
    text-align:right;
}


@media only screen and (max-width: 30em){
	.longDate{
		visibility:hidden;
		width:.5em;
		display:inline-block;
		overflow:visible;
	}
	dt, dd, ul{
		width:100%;
		float:none;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#resume .workSummary{
		display:block;
	}
	#resume .workSummary h3+p,
	#resume .workSummary p+p+p{
		text-align:left;
	}
}
@media print{
	:root{
		--copy:#000;
		--menu:#EEE;
		--bg:#FFF;
	}
	.topNav, .sideNav, h1{
	   display:none;
   }
   #externalContent h1{
	   display:block;
   }
   #externalContent, #resume{
	   max-width:none;
   }
   .content{
	   width:auto;
	   margin:0 1%;
   }
}