<div id="resume" itemscope="" itemtype="http://schema.org/Person">

    <header>
        <h1 itemprop="name">Mark Curtis</h1>
        <p style="text-transform:uppercase;"><span itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Brooklyn</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">11215</span></span> · <a itemprop="email" href="mailto:mark_c@markecurtis.com">mark_c@markecurtis.com</a> · <span itemprop="telephone">(267) 242-7474</span></p>
    </header>
    <section>
        <h2>Summary of qualifications</h2>
        <p>A web development professional with 7 years of work experience, specializing in HTML, CSS, JavaScript, and PHP</p>    
    </section>
    <section>
        <h2>Work experience</h2>
        <dl itemscope="" itemtype="http://schema.org/Organization">
            <dt itemprop="description">Front-End Architect</dt>
            <dd>July 2013 – Present</dd>
            <dd itemprop="name">Uncommon Goods</dd>
            <dd itemprop="location">New York, NY</dd>
            <dd class="workList">
                <ul>
                       <li>Lead in converting to a responsive layout</li>
                    <li>Converted page to PWA</li>
                    <li>Built and maninted Style Guide with reusable components</li>
                       <li>Utilized the following: HTML, CSS, Angular, Vue</li>
                </ul>
            </dd>
        </dl>			
        <dl itemscope="" itemtype="http://schema.org/Organization">
            <dt itemprop="description">Front End Web Developer</dt>
            <dd>June 2010 – June 2013</dd>
            <dd itemprop="name">Clear Channel Media + Entertainment</dd>
            <dd itemprop="location">New York, NY</dd>
            <dd class="workList">
                <ul>
                       <li>Developed interactive games to create interest in a variety of brands and events</li>
                    <li>Managed Facebook “Like-Gated” contests</li>
                    <li>Increased Z100 Google+ followers from ~300 to 600,000+</li>
                    <li>Consulted on process to move websites to mobile/responsive layout</li>                        
                    <li>Utilized the following: HTML, CSS, JavaScript (jQuery), PHP</li>
                </ul>
            </dd>
        </dl>
        <dl itemscope="" itemtype="http://schema.org/Organization">
            <dt itemprop="description">Various Consulting Opportunities</dt>
            <dd>June 2009 – June 2010</dd>
            <dd class="workList">
                <ul>                                                       
                       <li>Developed personal site http://www.markecurtis.com learning JavaScript</li>
                    <li>Created an associates online comic page, http://www.thedeli-guy.com using MySQL and PHP to automatically generate navigation based on the images in a folder</li>
                    <li>Utilized the following: (x)HTML, CSS, PHP, MYSQL, Flash, JavaScript, jQuery</li>
                </ul>
            </dd>
        </dl>
        <dl itemscope="" itemtype="http://schema.org/Organization">
            <dt itemprop="description">Architectural Visualiztion Specialist</dt>
            <dd>September 2008 – June 2009</dd>
            <dd itemprop="name">AECOM</dd>
            <dd itemprop="location">New York, NY</dd>
            <dd class="workList">
                <ul>                                                       
                       <li>Developed websites and graphics for planning and architecture solutions using 3ds Max, Photoshop, Illustrator, Dreamweaver, and InDesign software</li>
                    <li>Completed a project for Metro North Rail road by improving presentations for print, editing existing 		illustrations and designing a brochure detailing the advantages of Transit Oriented Development</li>
                    <li>Rendered illustrative photomontages for the Nassau County Department of Public Works</li>
                </ul>
            </dd>
        </dl>
        
        <dl itemscope="" itemtype="http://schema.org/Organization">       
            <dt itemprop="description">Design Visualization Specialist</dt>
            <dd>September 2007 – September 2008</dd>
            <dd itemprop="name">Urbitran</dd>
            <dd itemprop="location">New York, NY</dd>
            <dd class="workList">
                <ul>
                    <li>Produced visual simulations and animations for projects involving issues of urban planning, infrastructure, resource management, land reclamation and development, and landscape ecology in both 2D and 3D using 3ds Max, Photoshop, Illustrator, Dreamweaver software</li>
                    <li>Animated a 3D fly-through by illustrating how a proposed tunnel for a local college campus would feelto students and faculty for Marist College</li>
                    <li>Created a large bird’s eye aerial of an area, unified the illustrations used throughout the report, and illustrated proposed changes to existing areas for the city of Glen Cove</li>
                    <li>Launched websites for organizations including www.glencove-cedarswamproad.com and www.brookhaven2030.org</li>
                </ul>
            </dd>
        </dl>
        <dl itemscope="" itemtype="http://schema.org/Organization">
            <dt itemprop="description">Animation Specialist</dt>
            <dd>February 2007 – September 2007</dd>
            <dd itemprop="name">Niki Jones Agency</dd>
            <dd itemprop="location">Port Jervis, NY</dd>
            <dd class="workList">
                <ul>
                    <li>Designed advertisements for numerous publications and clients in addition to redesigning websites for increased efficiency using Illustrator, Photoshop and Flash</li>
                    <li>Converted the existing website, www.vbaras.com, from HTML to Flash for smoother loading and a richer user experience</li>
                    <li>Participated in meetings and reviews, as part of effective communication with the team.</li>
                </ul>
            </dd>
        </dl>
    </section>
    <section>
        <h2>Education</h2>
        <dl itemscope="" itemtype="http://schema.org/EducationalOrganization">
            <dt>Bachelor of Science, Media Arts and Animation</dt>
            <dd>Graduated September 2006</dd>
            <dd itemprop="name">The Art Institute of Philadelphia</dd>
            <dd itemprop="location">Philadelphia, PA</dd>
            <dd class="workList">
                <ul>
                    <li>Won “Best of Quarter” award for work on Science Lab of Grand Hank in 2005</li>
                </ul>
            </dd>
        </dl>
    </section>
    <section>
        <h2>Technical skills</h2>
            <ul class="skillList">
                <li><span>Software:</span> 3ds Max, Flash, After Effects, Final Cut Pro HD, Pro Tools, Illustrator, Photoshop, InDesign</li>
                <li><span>Web Development:</span> Google Analytics, WordPress, PHP, MySQL, JavaScript, jQuery</li>
            </ul>
    </section>
</div>