<div id="resume" itemscope itemtype="http://schema.org/Person">

    <header>
        <h1 itemprop="name">Mark Curtis</h1>
        <p><span itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Brooklyn</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">11217</span></span> &middot; <a itemprop="email" href="mailto:mark_c@markecurtis.com">mark_c@markecurtis.com</a> &middot; <span itemprop="telephone">(267) 242-7474</span></p>
    </header>
    <section>
        <h2>Summary</h2>
        <p>Self-motivated software engineer with over 10 years of experience within the tech space utilizing the key skills of front-end frameworks, visual and functional web development, and consumer accessibility. Proficient in front-end frameworks that build towards better performance for user experiences and creates efficiency across developers to advance deliverables. Ability to use web development tools by taking into account various design scenarios and understanding of different creative needs to design use case studies. Thrive in user accessibility in all web products to serve a greater audience by taking into account consumer needs. A leader that is gifted in problem-solving, identifying the root cause, and thinking big picture to achieve business outcomes.</p>
    </section>
    <section>
        <h2>Areas of expertise</h2>
        <p>HTML, CSS, JavaScript, Angular, Vue, Sass, Foundation, JIRA, Git, Slack, Photoshop, Windows, macOS, Linux, WSL, Browser compatibility, Accessibility, Agile workflow, Google analytics, Bloomreach, PowerReviews, Borderfree, Flow, Apple Pay</p>    
    </section>
    <section>
        <h2>Professional experience</h2>
        <div itemscope itemtype="http://schema.org/Organization">
            <div class="workSummary">
                <h3 itemprop="description">Front-End Architect</h3>
                <p>July 2013 &ndash; Present</p>
                <p itemprop="name">Uncommon Goods</p>
                <p itemprop="location">New York, NY</p>
            </div>
            <ul class="workList">
                <li>Lead in converting to a responsive layout, eliminating the need for two separate code bases</li>
                <li>Converted page to PWA which resulted in an increase in return users along with improved performance connected SEO and user experience</li>
                <li>Built and maintained Style Guide with reusable components. decreasing time to market for future projects</li>
                <li>Developed framework for internal projects using Vue</li>
                <li>Devised hooks into internal admin to allow easier and faster content changes for the website. These updates could be done by someone outside of the tech department, saving time and money</li>
                <li>A/B tested multiple designs of functionality of a given feature, using Google Analytics to determine the experience.</li>
                <li>Built checkout from the ground up, allowing for rapid changes, and increasing conversion by 10%</li>
                <li>Developed &ldquo;Wish list&rdquo; functionality, resulting in an increase in yearly revenue of 5%</li>
                <li>Created &ldquo;Experience&rdquo; products, generating over $10K in its first month</li>
                <li>Implemented Apple Pay accounting for 5% of revenue</li>
            </ul>
        </div>			
        <div itemscope itemtype="http://schema.org/Organization">
            <div class="workSummary">
                <h3 itemprop="description">Front End Web Developer</h3>
                <p>June 2010 &ndash; June 2013</p>
                <p itemprop="name">Clear Channel Media + Entertainment</p>
                <p itemprop="location">New York, NY</p>
            </div>      		
            <ul class="workList">
                <li>Developed interactive games to create interest in a variety of brands and events</li>
                <li>Managed Facebook &ldquo;Like-Gated&rdquo; contests</li>
                <li>Increased Z100 Google+ followers from ~300 to 600,000+</li>
                <li>Consulted on process to move websites to mobile/responsive layout</li>                        
                <li>Utilized the following: HTML, CSS, JavaScript (jQuery), PHP</li>
            </ul>
        </div>
    </section>
    <section>
        <h2>Volunteer experience</h2>
        <div itemscope itemtype="http://schema.org/Organization">
            <div class="workSummary">
                <h3 itemprop="description">Theme Administrator</h3>
                <p>July 2010 &ndash; September 2011</p>
                <p itemprop="name">Ubuntu Forums</p>
                <p itemprop="location">New York, NY</p>
            </div>
            <ul class="workList">
                <li>Developed updated theme to coincide with Canonical&rsquo;s updated branding</li>
            </ul>
        </div>
    </section>
</div>