nav a {
    display: block;
}
.sideNav{
    margin-top:0px;    
}
.sideNav{    
    padding:0;
    font-size:.8em;
    min-height:1px;
}
.sideNav{
    width:20%;
    float:left;
}
.sideNav a,
#btn-container{
    padding:5px;
    background-color: var(--menu);
    border-color: var(--copy);
    border-style: solid;
    border-width: 0;
    color:var(--copy)
}
    
.sideNav .active,
#btn-container{
    
    border-left-width:10px;
    padding-left:5px;
}
.sideNav a,
#btn-container{
    
    border-left-width:5px;
    padding-left:10px;
}
.sideNav .active~a{
    padding-left:15px;
    border-left-width: 0;
}
#btn-container{
    display: none;
}
@media only screen and (max-width:37.5em){

    .sideNav{
        float:none;
        width: 100%;
    }
    .sideNav a {
        display:none;
    }
    .sideNav.showWork a {
        display: block;
    }
    #btn-container {
        display: block;
    }
}
